<!DOCTYPE html>
<html lang="fr">

<head>
    <% include ../partials/head %>
    <title>Poly Games - Oups</title>
</head>
<!-- Body -->
<body class="container">
    
	<!-- NavBar -->
    <% include ../partials/navbar %>

    <main>
        <h2>Oups, la page demandée n'existe pas. :(</h2>
    </main>

    <!-- Including scripts -->
    <% include ../partials/scripts %>
    
    <!-- Footer -->
    <footer>
      <% include ../partials/footer %>
    </footer>
    
</body>
<!-- .Body -->
</html>