<!DOCTYPE html>
<html lang="fr">

<head>
    <% include ../partials/head %>
    <title>Poly Games</title>
</head>
<!-- Body -->
<body class="container">
    
    <!-- NavBar -->
    <% include ../partials/navbar %>

    <!-- Including scripts -->
    <% include ../partials/scripts %>
    
    <!-- Footer -->
    <footer>
      <% include ../partials/footer %>
    </footer>
    
</body>
<!-- .Body -->
</html>