<!DOCTYPE html>
<html lang="fr">

<head>
    <% include ../partials/head %>
    <title>Poly Games - About</title>
</head>
<!-- Body -->
<body class="container">
    
    <!-- NavBar -->
    <% include ../partials/navbar %>

    <!-- Content -->
    <div class="container descripteur">
        <div class="row">
            <div class="col-lg-12 panel transparency">
                <h2><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Objectif</h2>
                <p>Poly Games est une société technique constituée d'étudiants motivés dont le but premier est de promouvoir la création de jeux vidéo. Poly Games encourage l'organisation, le travail d'équipe, l'ingéniosité et la créativité chez ses membres en les confrontant à des défis variés et originaux. </p>
                <p> Poly Games rassemble ainsi une communauté avide de jeux vidéo à qui elle consacre une panoplie d'activités telles que des conférences, des Hackathon et plus encore.</p>
                <hr/>
                <h2><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Fonctionnement</h2>
                <p>Poly Games réunit des équipes de 3 à 5 étudiants, qui développent en entier un jeu en une session ou plus. Tout au long de la session, les équipes utiliseront la méthodologie « SCRUM » et seront supervisées par un gestionnaire de développement attitré.</p>
            </div>
        </div>
        <h2>Membres éxécutifs</h2>
        <div class="row">
            <div class="col-lg-3 col-sm-4 fiche-description panel transparency">
                <img src=/images/bbm.png alt="Benjamin Brodeur Mathieu" class="img-responsive img-centered">
                <h4>Directeur</h4>
                <p>En tant que directeur de Poly Games, <b>Benjamin Brodeur Mathieu</b>, se doit de représenter la société technique lors des événements officiels. Il se doit aussi de maintenir des relations cordiales avec le professeur qui endosse la société.</p>
            </div>
            <div class="col-lg-3 col-sm-4 fiche-description panel transparency">
                <img src=/images/logo.png alt="" class="img-responsive img-centered">
                <h4>Vice-président interne</h4>
                <p>Le vice-président interne planifie les activités internes de la société et prend part aux activités des sociétés techniques pouvant servir les intérêts de la société.</p>
            </div>
            <div class="col-lg-3 col-sm-4 fiche-description panel transparency">
                <img src=/images/ca.png alt="Chali-Anne Lauzon" class="img-responsive img-centered">
                <h4>Vice-président externe</h4>
                <p>En tant que vice-présidente externe, <b>Chali-Anne Lauzon</b>, maintient des relations cordiales avec les divers organismes associés et intervenants.</p>
            </div>
            <div class="col-lg-3 col-sm-4 fiche-description panel transparency">
                <img src=/images/logo.png alt="" class="img-responsive img-centered">
                <h4>Trésorier</h4>
                <p>Le trésorier tient les compte de Poly Games à jour et soumet les rapports financiers à l’AEP. Voit au contrôle des budgets alloués et remet les états financiers une fois par an.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-4 fiche-description panel transparency">
                <img src=/images/logo.png alt="" class="img-responsive img-centered">
                <h4>Vice-président commandites</h4>
                <p>Le v.-p. commandites s’assure de la visibilité de Poly Games auprès des entreprises. Il rédige et révise régulièrement le dossier de commandites et s’assure de maintenir des relations cordiales avec les représentant des entreprises.</p>
            </div>
            <div class="col-lg-3 col-sm-4 fiche-description panel transparency">
                <img src=/images/logo.png alt="" class="img-responsive img-centered">
                <h4>Vice-président marketing</h4>
                <p>Le v.-p. marketing assure l’allure de Poly Games.</p>
            </div>
            <div class="col-lg-3 col-sm-4 fiche-description panel transparency">
                <img src=/images/ma.png alt="Mackly Férère-Antoine" class="img-responsive img-centered">
                <h4>Webmaster</h4>
                <p>En tant que Webmaster, <b>Mackly Férère-Antoine</b>, s'assure du bon fonctionnement du site web et de sa mise à jour quotidienne.</p>
            </div>
            <div class="col-lg-3 col-sm-4 fiche-description panel transparency">
                <img src=/images/ja.png alt="Julien Aymong" class="img-responsive img-centered">
                <h4>Secrétaire</h4>
                <p>En tant que secrétaire, <b>Julien Aymong</b> se doit de gérer et coordonner avec l'aide du directeur l'ensemble des activités de la société. Il participe également à la rédaction des documents officiels.</p>
            </div>
        </div>
    </div>

    <!-- Including scripts -->
    <% include ../partials/scripts %>
    
    <!-- Footer -->
    <footer>
      <% include ../partials/footer %>
    </footer>
    
</body>
<!-- .Body -->
</html>