<!DOCTYPE html>
<html lang="fr">

<head>
    <% include ../partials/head %>
    <title>Poly Games</title>
</head>
<!-- Body -->
<body class="container">
    
    <!-- NavBar -->
    <% include ../partials/navbar %>

    <!-- Content -->
    <div class="container">
        <h1>Documentation</h1>
        <div class="information-panel transparency">
            <h3>Tutoriels</h3>
            <ul>
                <li><a href="/documents/TutorielGit.pdf">Tutoriel Git v1.1</a></li>
                <li><a href="/documents/Unity_tutorial.pdf">Tutoriel Unity3D</a></li>
            </ul>
            <hr/>
            <h3>Documents utiles</h3>
            <ul>
                <li><a href="/documents/One-sheet&GDD.pptx">Document de conception simplifié</a></li>
                <li><a href="/documents/EquipesH2015.pdf">Équipes Hiver 2015</a></li>
                <li><a href="/documents/EquipesIt%C3%A9ration3V1.0.pdf">Équipes Automne 2014</a></li>
                <li><a href="/documents/EquipesIt%C3%A9ration2V1.0.pdf">Équipes Hiver 2014</a></li>
                <li><a href="/documents/EquipesIt%C3%A9ration1V1.0.pdf">Équipes Automne 2013</a></li>
            </ul>
        </div>
    </div>

    <!-- Including scripts -->
    <% include ../partials/scripts %>
    
    <!-- Footer -->
    <footer>
      <% include ../partials/footer %>
    </footer>
    
</body>
<!-- .Body -->
</html>