<!DOCTYPE html>
<html lang="fr">

<head>
    <% include ../partials/head %>
    <title>Poly Games</title>
</head>
<!-- Body -->
<body class="container">
    <!-- Header -->
    <div class="page-header">
      <img class="img-responsive" src="/images/logo.png" 
           style="width:600px; margin:auto; padding:50px;"></img>

      <h2>Bienvenue sur le site de Poly Games!</h2>
    </div>

    <!-- NavBar -->
    <% include ../partials/navbar %>

    <!-- Main Content -->
    <!-- Page Content -->
    <div class="container">
          <!-- Main column -->
          <div class="col-lg-8 maincolumn">
              <h2 class="text-left">Nouvelles</h2>

              <!--<div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                        <img class="img-responsive img-centered" src=http://polygames.polymtl.ca/Assets/images/Unreal.png alt="BluePrints!">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">DATE</h4>
                      <br>
                      <p>INFO</p>
                    </div>
                  </div>
              </div>-->

              



              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                        <img class="img-responsive img-centered" src=http://polygames.polymtl.ca/Assets/images/brushes.png alt="BluePrints!">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">Fin de semaine 21-23 août 2015</h4>
                      <br>
                      <p>Troisième édition du Creative Jam! 48h de création vous attendent!</p>
                    </div>
                  </div>
              </div>

              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                        <img class="img-responsive img-centered" src=http://polygames.polymtl.ca/Assets/images/meeting2.png alt="BluePrints!">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">Mardi le 28 Avril 11h45</h4>
                      <br>
                      <p>Rencontre durant laquelle chaque équipe présente le résultat possiblement final de leur projet!</p>
                    </div>
                  </div>
              </div>

              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                        <img class="img-responsive img-centered" src=http://polygames.polymtl.ca/Assets/images/meeting.png alt="BluePrints!">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">Jeudi 19 mars 2015</h4>
                      <br>
                      <p>Rencontre durant laquelle chaque équipe présente l'avancement de leur projet!</p>
                    </div>
                  </div>
              </div>

              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                        <img class="img-responsive img-centered" src=http://polygames.polymtl.ca/Assets/images/Unreal.png alt="BluePrints!">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">Vendredi 20 février 2015</h4>
                      <br>
                      <p>Formation Unreal : Tutoriel sur l'utilisation du logiciel Unreal Engine 4</p>
                    </div>
                  </div>
              </div>

              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                        <img class="img-responsive img-centered" src=http://polygames.polymtl.ca/Assets/images/globalGameJam.png alt="Des artistes">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">23-25 Janvier 2015 </h4>
                      <br>
                      <p>Global Game Jam MTL edition : rassemblement de différentes équipes d'étudiants afin de construire un projet original en moins de 48 heures! <a href="http://globalgamejam.org/"> Site Officiel</a></p>
                    </div>
                  </div>
              </div>

              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                        <img class="img-responsive img-centered" src=http://polygames.polymtl.ca/Assets/images/creativeJam.png alt="Rencontre des P.O.">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">16-18 Janvier 2015 </h4>
                      <br>
                      <p>Creative Jam au NAD : un deuxième hackathon d'une durée de 36 heures en équipes de 6 avec les étudiants du NAD!</p>
                    </div>
                  </div>
              </div>

              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                        <img class="img-responsive img-centered" src=http://polygames.polymtl.ca/Assets/images/rencontreFinSession.png alt="Game Jam été 2014">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">22 Décembre 2014</h4>
                      <br>
                      <p>Réunion de fin de session A2014 : Bravo à l'équipe "Aight" vous êtes les gagnants de la courante itération avec votre jeu Brain_Game!</p>
                    </div>
                  </div>
              </div>

              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                        <img class="img-responsive img-centered" src=http://polygames.polymtl.ca/Assets/images/vinylDisc.png alt="Rencontre fxDupas">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">24 Novembre 2014</h4>
                      <br>
                      <p>Rencontre avec la faculté de musique de l'UdM : Bientôt les étudiants de la faculté de musique viendront rejoindre les étudiants de Poly Games dans leurs projets!</p>
                    </div>
                  </div>
              </div>

              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                       <img class="img-responsive img-centered" src=http://polygames.polymtl.ca/Assets/images/rencontreMiSession.png alt="Rencontre de mi-session">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">3 Novembre 2014</h4>
                      <br>
                      <p>Rencontre de bilan de la mi-session : Nous avons tous hâte de voir ce que les équipes ont accomplies durant cette première moitié de session.</p>
                    </div>
                  </div>
              </div>

              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                       <img class="img-responsive img-centered" src=http://polygames.polymtl.ca/Assets/images/gameJam.png alt="Game Jam été 2014">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">15 Octobre 2014</h4>
                      <br>
                      <p>Réunion de clôture du Game Jam 2014 : Juges de l'industrie, pizza et bière... quoi de mieu. Merci à tous d'avoir participés!</p>
                    </div>
                  </div>
              </div>

              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                       <img class="img-responsive img-centered" src=http://polygames.polymtl.ca/Assets/images/unrealEngine.png alt="On a Unreal et gihub aussi...">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">7 Octobre 2014</h4>
                      <br>
                      <p>Les licences d'Unreal Engine sont disponibles! Il suffit d'envoyer un email à : laurent.tremblay@polymtl.ca</p>
                    </div>
                  </div>
              </div>
            
              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                      <img class="img-responsive img-left" src=http://polygames.polymtl.ca/Assets/images/creationEquipes.png alt="Création des équipes">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">9 Septembre 2014</h4>
                      <br>
                      <p>Création des équipes de la troisième itération qui comptent maintenant des étudiants du NAD. Bienvenue à tous!</p>
                    </div>
                  </div>
              </div>
              
              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                      <img class="img-responsive img-left" src=http://polygames.polymtl.ca/Assets/images/gameJam.png alt="Game Jam">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">8-10 Août 2014</h4>
                      <br>
                      <p>Le premier Game Jam au NAD! Un gros merci à tous ceux qui ont rendu cet évènement possible!</p>
                    </div>
                  </div>
              </div>

              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                      <img class="img-responsive img-left" src=http://polygames.polymtl.ca/Assets/images/polygamesHackhaton.png alt="Hackhaton 2014 banner">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">5 et 6 Mars 2014</h4>
                      <br>
                      <p>Première compétition officielle organisée par Poly Games, 36 heures de création vous attendent! <a href=http://polygames.polymtl.ca/index.php/start/competitions>En savoir plus </a></p>
                    </div>
                  </div>
              </div>

              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                      <img class="img-responsive img-left" src=http://polygames.polymtl.ca/Assets/images/desArtistes.png alt="Des artistes">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">10 Février 2014</h4>
                      <br>
                      <p>Gros merci à <b>Haly Boris</b> pour avoir demander à son entourage s'il y avait des intéressés à rejoindre des équipes.</p>
                    </div>
                  </div>
              </div>

              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                      <img class="img-responsive img-left" src=http://polygames.polymtl.ca/Assets/images/rencontrePO.png alt="Rencontre des P.O.">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">30 Janvier 2014</h4>
                      <br>
                      <p>Au programme : discussions sur l'ensemble de l'organisation de la dynamique des P.O. pour la deuxième itération.</p>
                    </div>
                  </div>
              </div>

              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                      <img class="img-responsive img-left" src=http://polygames.polymtl.ca/Assets/images/creationEquipes.png alt="Création des équipes">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">23 Janvier 2014</h4>
                      <br>
                      <p>La liste des P.O. et des équipes enregistrées sont maintenant disponible sur le groupe facebook de Poly Games ainsi que dans la section documents.</p>
                    </div>
                  </div>
              </div>

              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                      <img class="img-responsive img-left" src=http://polygames.polymtl.ca/Assets/images/tutorielGit.png alt="Tutoriel git">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">16 Janvier 2014</h4>
                      <br>
                      <p>Le tutoriel est maintenant disponible sur le groupe facebook de la société ainsi que dans la section documents.</p>
                    </div>
                  </div>
              </div>

              <div class="panel panel-default transparency">
                  <div class="panel-body transparency">
                    <div class= "col-md-3">
                      <img class="img-responsive img-left" src=http://polygames.polymtl.ca/Assets/images/reunionCloture.png alt="Réunion de clôture">
                    </div>
                    <div class= "col-md-9">
                      <h4 class="text-left">9 Janvier 2014</h4>
                      <br>
                      <p>Bravo à <b>Julien et ses Noobs</b> d'avoir gagné cette première itération!</p>
                    </div>
                  </div>
              </div>
          </div>
          <!-- /.Main column -->
          <!-- Side column -->
          <h2>&nbsp</h2>
          <div class="sidepanel-container">
            <div class="col-lg-4 panel panel-default transparency sidebarpanel">
                <h3>Joins-toi à nous!</h3>
                
                <div>
                    <!--<a class="social-button" href="https://www.facebook.com/groups/270772759612251/">
                        <img src="Assets/img/FB-f-Logo__blue_29.png"></img>
                    </a>
                    <br/>-->
                    <a href="https://docs.google.com/spreadsheets/d/18PBVi10zHL5abRUQZThs0g2Sg_c7Ydawa92zPONExm4/edit#gid=0">Formulaire d'inscription Automne 2015</a>
                </div>
            </div>
            <div class="col-lg-4 panel panel-default transparency sidebarpanel">
                <h3>Évènements Futurs</h3>
                <!-- Google Calendar -->
                <div>
                    <!-- Event List -->
                    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=r95bjhd2jcjijn3i4ju8qhj7hc%40group.calendar.google.com&amp;color=%23853104&amp;ctz=America%2FNew_York" style=" border:solid 1px #777 " width="300" height="300" frameborder="0" scrolling="no"></iframe>

                    <!-- Calendar -->
                    <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showTabs=0&amp;showCalendars=0&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=r95bjhd2jcjijn3i4ju8qhj7hc%40group.calendar.google.com&amp;color=%23853104&amp;ctz=America%2FNew_York" style=" border:solid 1px #777 " width="300" height="300" frameborder="0" scrolling="no"></iframe>

                </div>
            </div>
          </div>
          <!-- /.Side column -->
    </div>
    <!-- /.container -->

    <!-- Including scripts -->
    <% include ../partials/scripts %>
    
    <!-- Footer -->
    <footer>
      <% include ../partials/footer %>
    </footer>
    
</body>
<!-- .Body -->
</html>